.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
}
.QuizCreator > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.QuizCreator form {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 15px;
}
